################################################################################
# BUILD CONFIG
################################################################################
TARGET_WILDCARD=pintu

################################################################################
# GAME CONFIG
################################################################################
GAME_HOST=192.168.1.102

# 访问API时，需要知道 协议，域名，端口
GAME_URL_BASE=http://localhost:8080

################################################################################
# SERVER
################################################################################
SUPPORT_RUNLIN=yes  # 微信API调用润霖的

DB_NAME=wechatmore_dev
# your database username
DB_USER=root
# your database
DB_PASSWORD=root

# Koa is listening to this port
API_SERVER_PORT=8099

# Weixin Mp account
WX_APPID=wx45afb5e9617eb63a
WX_SECRET=e37e333753fc06dfab18006671440c8e
WX_TOKEN=mytoken
# 微信公众号设置的授权URL
# 在部署时，需要 加 /zgame, 服务器代理解决授权域名和游戏域名不一致的问题。
WX_AUTHDOMAIN=authdomain
