#app.skin-runlin{
  background-image: url('/static/dpgame/pintu/skin_runlin/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.skin-runlin .logowrap{
  background: url('/static/dpgame/pintu/skin_runlin/logo.png');
}


.skin-runlin .game-wrap{
  background-image: url('/static/dpgame/pintu/skin_runlin/gameimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
